/* -----------------OUR COURSES -------------------- */
.course {
    margin-top: 0;
}

.courses_container {
    grid-template-columns: 1fr 1fr;
}

/* -----------------FAQs -------------------- */
.faqs_container {
    grid-template-columns: 1fr;
}

.faq {
    padding: 1.5rem;
}