
/*................ GALLERY .................. */
.galleries_container {
    overflow-x: hidden;
    position: relative;
    margin-bottom: 5rem    
}

.gallery {
    padding-top: 2rem;
}

.avater {
    width: 6rem;
    height: 6rem;
border-radius: 50%;
overflow: hidden;
margin: 0 auto 1rem;
border: 1rem solid var(--color-bg1);
}

.gallery_info {
    text-align: center;
}

.gallery_body {
    background: var(--color-primary);
    padding: 2rem;
    margin-top: 3rem;
    position: relative;
}

.gallery_body::before {
    content: "";
    display: block;
    background: linear-gradient( 135deg, transparent, 
    var(--color-primary), var(--color-primary), var(--color-primary)
    );
    width: 5rem;
    height: 3rem;
    position: absolute;
    left: 40%;
    top: -0.8rem;
    transform: rotate(45deg);
   
}
